.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}
.badge-success {
    background: green;
    
}

.badge-eror {
    background: red;
    
}

/* Show alert  */
[show-alert] {
    position: fixed;
    top: 2px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

/* end Show alert  */

/* IMG UPLOADS  */

img[upload-img-preview] {
    width: 70px;
}

span[img-span-x] {
    position: absolute;
}
/* END IMG UPLOADS  */

/* BUTTON BACK PRODUCT  */
a[edit-link-btn] {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    margin-top: 10px;
}

.button-x {
    position: absolute;
    top: 0;
    margin-right: 15px;
    right: 0;
    z-index: 9999999;
}

/* END BUTTON BACK PRODUCT  */

.mb-4 {
    margin-bottom: 1.5rem !important;
    font-family: fangsong;
}
.label{
    font-size: 25px;
}
.color-red {
    color: red;
}